* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: black;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
  }
  p {
    text-align: justify;
  }
  
  #header_main {
    width: 100%;
    height: 4rem;
    position: fixed;
    transition: background-color 0.5s ease;
    background-color: transparent;
    z-index: 3;
  }
  
  .show-background-header {

    background-color: 
    #fff
    ;
  }
  
  .nav-container {
    display: flex;

    justify-content: space-between;
    background-color: #fff;
    align-items: center;
    padding-right: 1rem;
    height: 4rem;
    gap: 1rem;
    

  }
  .nav-container a {
    width: 100%;
    max-width: 30rem;
  }

  .nav-container img {
    /* margin-top: 0.5rem; */
     width: 100%;
    height: 4.3rem;
  }
  
  .menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 3rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  
  .menu-btn__burger {
    width: 1.5rem;
    height: 0.12rem;
    background: #609195;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }
  
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 0.12rem;
    border-top: 1px solid #609195;
    background: #609195;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }
  
  .menu-btn__burger::before {
    transform: translateY(-0.5rem);
  }
  
  .menu-btn__burger::after {
    transform: translateY(0.5rem);
  }
  
  .menu-item {
    width: 100%;
  }
  
  .menu-item li {
    display: flex;
    border-top: 1px solid #0e1b48;
    height: 3rem;
    width: 100%;
    list-style: none;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #fff;
  }
  .menu-li-show-scroll {
    background-color: #fff;
  }
  
  .menu-item li:nth-child(4) {
    border-bottom: 1px solid #0e1b48;
  }
  
  .menu-item a {
    text-decoration: none;
    color: black;
    font-family: "Pompiere", sans-serif;
    font-size: 1.5rem;
  }
  
  .menu-item li.active a {
    color: #0e1b48;
  }
  
  /******** animation **********/
  
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  
  .link-container {
    position: absolute;
    top: 4rem;
    color: #0e1b48;
    width: 100%;
    margin-left: 100%;
    opacity: 0;
    transition: margin-left 0.7s ease-in-out, opacity 0.7s ease-in-out;
  }
  
  .link-container.show {
    margin-left: 0rem;
    opacity: 1;
  }
  
  @media screen and (min-width: 900px) {
    #header_main {
      background-color: #0e1b48;
      height: 4rem;
    }
  
    .menu-btn {
      display: none;
    }
  
    .menu-item li:nth-child(4) {
      border-bottom: none;
    }
  
    .link-container {
      display: flex;
      position: initial;
      height: 100%;
      justify-content: flex-end;
      background: transparent;
      margin: 0 1rem;
      opacity: 1;
      align-items: center;
    }
    .menu-item {
      display: flex;
      /* justify-content: space-between; */
      align-items: center;
      justify-content: end;
      border: none;
      gap: 2rem;
      width: 40rem;
    }
    .menu-item li {
      border: none;
      background-color: transparent;
      width: auto;

    

    }
    .menu-item li a:hover {
      scale: 1;
      color: #609195;
    }
  
    .menu-item li.active a {
      text-decoration: underline #0E1B48;
      color: #0E1B48;
    }
    .menu-item a {
      font-size: 2rem;
      color: #0E1B48;
      font-family: "Pompiere", sans-serif;
    }
  
    .nav-container img {
        height: 4rem;
        margin: 0.5rem;
      /* width: 15rem; */
    }
  }
  
  @media screen and (min-width: 1200px) {
    .link-container {
      width: 60%;
    }
    .menu-item {
      width: 50rem;
    }
  }


  main {
    margin-top: 4rem;
  }

  .about-me-container {
    width: 100%;
    background-color: #609195;
    margin: 0 auto 2rem auto;
 
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 4rem;
  }
  .about-me-container h2 {
    font-size: 2rem;
    color: #0e1b48;
    margin: 0.5rem;
    text-align: center;
    font-family: "Pompiere", sans-serif;
  }
  .presentation-container {
    display: flex;
    flex-direction: column;
  }

  /* .title-presentation .line1 {
    height: 2px;
    width: 50%;
    background: linear-gradient(to right, #fff, #0e1b48);
  }
  .title-presentation .line2 {
    height: 2px;
    width: 50%;
    background: linear-gradient(to left, #fff, #0e1b48);
  } */
  .picture-presentation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .picture-presentation-container picture {
    margin: 1rem auto;
    width: 90%;
    max-width: 20rem;
    max-height: 15rem;
  }
  .picture-presentation-container img {
    width: 100%;
    height: 100%;

  }

  .presentation-text {
    margin: 1rem 0;
    max-width: 25rem;
    padding: 0 1rem;
    color: #fff;
  }
  .presentation-container h3 {
    font-size: 1.2rem;
    color: #0e1b48;
    margin-top: 2rem;
    width: 100%;
    text-align: center;
  
  }
  .methodologies-container {
    display: flex;
    flex-direction: column;
  }
  .values-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .value-container {
    padding: 0.5rem;
  }

  /* Par défaut (mobile) */
.mobile {
  display: block;
}
.desktop {
  display: none;
}

/* À partir de 746px (desktop) */
@media (min-width: 746px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
    margin: 0;
  }
}
  @media screen and (min-width: 745px) {
    .about-me-container{
      width: 80%;
          height: 90vh;

    }
    .about-me-container h2{
      font-size: 2.5rem;
      width: 100%;
    }
      .about-me-container h3{
      font-size: 1.5rem;
    }
    .picture-presentation-container {
           width: 90%;
      margin: 0 auto;
      flex-direction: row;
      align-items: center;

    }
     .picture-presentation-container img {
      width: 15rem;
      height: 12rem;
    }

    .picture-presentation-container:nth-child(3){

      flex-direction: row-reverse;
    }
    .presentation-text {
      flex-grow: 1; /* Allow the text to take up the remaining space */
      margin-left: 20px; /* Add some space between the image and the text */
    }
  }
  
  @media screen and (min-width: 900px) {
    .picture-presentation-container {
      width: 90%;
    }
    .picture-presentation-container img {
      width: 20rem;
      height: 12rem;
    }
    .presentation-text{
      max-width: 100%;
    }
    .methodologies-container {
      margin-top: 2rem;
    }
  
    .about-me-container h2 {
      font-size: 3rem;

    }
    h3.desktop {
      margin-top: 0;
    }
  
    .value-container h3 {
      font-size: 1.5rem;
    }
  }
  /* @media screen and (min-width: 1200px) {
    .about-me-container {
      width: 80%;
      margin: 2rem auto;
    }
  } */
  


  /*********buuton to top ******/
#scrollToTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 35px; /* Place the button at the bottom of the page */
    right: 10px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #0e1b48; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 50%; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    width: 2rem;
    height: 2rem;
  }
  #scrollToTop img {
    height: 1rem;
    width: 1rem;
  }
  
  #scrollToTop:hover {
    background-color: #4e4d4d; /* Add a dark-grey background on hover */
  }
  
  /****************************** footer ***********************************/
  
  footer {
    position: fixed; /* if you want footer fixe */
    bottom: 0;
    width: 100%;
    height: 3rem;
    /* background-color: #19467b; */
    background-color: #609195;
    color: #0E1B48;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
  }
  
  footer .contact-icons-container {
    display: flex;
    gap: 1rem;
    color: #0E1B48;
  }
  footer a {
    text-decoration: none;
    color: #0d2785;
  }
  